@font-face {
	font-family: MontserratR;
	font-weight: 400;
	src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
	font-family: MontserratM;
	font-weight: 500;
	src: url('/fonts/Montserrat-Medium.ttf');
}
@font-face {
	font-family: MontserratSB;
	font-weight: 600;
	src: url('/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: MontserratB;
	font-weight: 700;
	src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: MontserratEB;
	font-weight: 800;
	src: url('/fonts/Montserrat-ExtraBold.ttf');
}
