.modal {
	padding-top: 25px;
	padding-bottom: 25px;
	&.active {
	}
}
.container {
	position: fixed;
	transform: translateX(100%);
	top: 0;
	transition: 0.2s ease;
	backdrop-filter: blur(10px);
	background-color: var(--black-opacity);
	&.active {
		transform: translateX(0%);
		z-index: var(--z-roomsChangeDataModal);
	}
}
