.roomsCardContent {
	display: flex;
	flex-flow: wrap column;
	align-items: center;
}
.paragraphs {
}
.title {
}
.paragraphsItem {
	font-family: MontserratR;
	font-size: 12px;
	text-align: center;
}
.sliderWrapper {
	width: 100%;
	overflow: hidden;
	margin: 25px 0 0 0;
}
.slider {
	overflow: visible;
	margin: 0;
}
.slide {
	width: 160px;
}
.serviceGroup {
}
.button {
	margin: 15px auto 0 auto;
	border-radius: 20px;
	color: white;
	p {
		font-size: 14px;
	}
	&:hover {
		scale: 1.06;
	}
	&.active {
		border: 2px solid var(--blue);
		background-color: transparent;
		color: var(--blue);
	}
}
