.container {
	margin-bottom: var(--modules-margin-bottom);
	overflow: visible;
}
.list {
}
.roomsData {
	display: flex;
	flex-flow: wrap column;
	row-gap: 25px;
}
.head {
	position: relative;
}
.notFoundTitle {
	text-align: center;
	color: var(--grey);
	font-size: 20px;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
