.container {
}
.rooms {
	margin-bottom: var(--modules-margin-bottom);
}
.title {
	text-align: center;
	color: var(--grey);
}

.button {
	color: white;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	background-color: var(--yellow);
	&:hover {
		scale: 1.1;
		background-color: var(--yellow-hover);
	}
	&:active {
		transition: 0.02s linear;
		scale: 1.05;
		background-color: var(--yellow);
	}
	p {
		font-size: 12px;
	}
}
