.availableRooms {
	width: 100%;
	background-color: var(--yellow);
	padding: 7px 0;
}
.availableRoomsText {
	font-size: 14px;
	text-align: center;
	color: white;
}
.maxGuestsInRoom {
	font-size: 18px;
	position: absolute;
	top: 14px;
	right: 14px;
	display: flex;
	column-gap: 3px;
	align-items: center;
}
.maxGuestsInRoomNumber {
	color: white;
}
