.footerTopContainer {
}
.footerWrapper {
}
.footer {
	.info {
	}
}
.headerContainer {
}
.header {
	.logo {
	}
	.content {
		.logo {
		}
		.nav {
			.link {
			}
		}
	}
	.info {
		.item {
		}
		.content {
		}
	}
	.item {
	}
}

@media screen and (min-width: 0) {
}
@media screen and (min-width: 361px) {
}
@media screen and (min-width: 421px) {
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 601px) {
}
@media screen and (min-width: 769px) {
	.footerTopContainer {
		padding: 60px 0 !important;
		.footer {
			display: flex;
			flex-flow: nowrap row;
			column-gap: 60px;
			justify-content: center;
			align-items: stretch;
			.info {
				text-align: start;
				& > h2 {
					font-size: 22px;
				}
				.group {
					display: flex;
					flex-flow: wrap column;
					row-gap: 5px;
					margin: 15px 0 0 0;
				}
			}
		}
	}
}
@media screen and (min-width: 901px) {
}
@media screen and (min-width: 1025px) {
	.headerContainer {
		.header {
			padding-top: 13px;
			padding-bottom: 13px;
		}
	}
	.header {
		display: flex;
		flex-flow: nowrap column;
		justify-content: space-between;

		.info {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.item {
				display: flex;
				align-items: center;
				column-gap: 5px;
				p {
					font-size: 12px;
					color: var(--grey);
				}
				img {
					width: 15px;
					height: 15px;
				}
			}
			.content {
				display: flex;
				align-items: center;
				column-gap: 100px;
			}
		}
		& > .content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			.logo {
				position: static;
				left: unset;
				translate: 0 0;
				h1 {
					font-size: 26px;
					text-align: start;
				}
			}
			.nav {
				display: flex;
				align-items: center;
				column-gap: 35px;
				.link {
					position: relative;
					p {
						font-size: 14px;
					}
					&.active {
						color: var(--blue);
						text-decoration: underline;
						text-decoration-color: var(--blue);
						text-decoration-thickness: 4px;
						text-underline-offset: 5px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1281px) {
	.footerTopContainer {
		.footer {
			justify-content: space-evenly;
		}
	}
}
@media screen and (min-width: 1441px) {
}
