.footerTopContainer {
}
.footerWrapper {
}
.footer {
	.info {
	}
}
@media screen and (min-width: 0) {
}
@media screen and (min-width: 361px) {
}
@media screen and (min-width: 421px) {
}
@media screen and (min-width: 481px) {
}
@media screen and (min-width: 601px) {
}
@media screen and (min-width: 769px) {
	.footerTopContainer {
		padding: 60px 0 !important;
		.footer {
			display: flex;
			flex-flow: nowrap row;
			column-gap: 60px;
			justify-content: center;
			align-items: stretch;
			.info {
				text-align: start;
				& > h2 {
					font-size: 22px;
				}
				.group {
					display: flex;
					flex-flow: wrap column;
					row-gap: 5px;
					margin: 15px 0 0 0;
				}
			}
		}
	}
}
@media screen and (min-width: 901px) {
}
@media screen and (min-width: 1025px) {
}
@media screen and (min-width: 1281px) {
	.footerTopContainer {
		.footer {
			justify-content: space-evenly;
		}
	}
}
@media screen and (min-width: 1441px) {
}
