.label {
	width: 100%;
	font-size: 16px;
}
.labelText {
	font-size: inherit;
	color: var(--grey-light-100);
	margin: 0 0 4px 0;
}
.content {
	overflow: hidden;
	border-radius: 8px;
	border: 1px solid var(--grey-light-400);
	display: flex;
	min-height: 35px;
	background-color: white;
}
.input {
	font-family: MontserratM;
	padding: 5px 0;
	flex-grow: 1;
	border: none;
	outline: none;
	font-size: inherit;
	color: var(--grey);
	&::placeholder {
		font-family: inherit;
		font-size: inherit;
		color: var(--grey-light-400);
	}
}
.icon {
	padding: 0 10px;
	display: flex;
	align-items: center;
}
.error {
	margin: 4px 0 0 0;
	font-size: 14px;
	color: var(--red);
}
