.container {
	margin-bottom: var(--modules-margin-bottom);
}
.cardInfo {
}
.table {
	margin: 30px 0 0 0;
}
.contentWrapper {
	margin: 0 auto;
	width: 90%;
}
.titleWrapper {
	.roomsVariant {
		font-size: 12px;
		text-align: center;
	}
}
.description {
	margin: 25px 0 40px 0;
}
.slider {
}
