.wrapper {
}
.slider {
}
.sliderWrapper {
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 var(--black-opacity);
	padding: 20px;
}
.slide {
	width: 180px;
	height: 140px;
	img {
		height: 100%;
		object-fit: cover;
	}
}
