.text {
	font-size: 16px;
}
.R {
	font-family: MontserratR;
}
.M {
	font-family: MontserratM;
}
.SB {
	font-family: MontserratSB;
}
.B {
	font-family: MontserratB;
}
.EB {
	font-family: MontserratEB;
}
