.container {
	margin-bottom: var(--modules-margin-bottom);
}
.info {
	border-radius: 5px;
	border: 1px solid var(--grey-light-300);
	padding-top: 10px;
	padding-bottom: 25px;
}
.title {
	text-align: center;
	font-size: 18px;
	color: var(--grey);
}
.content {
	margin: 20px;
}
.avatar {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	.image {
		object-fit: cover;
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}
	h2 {
		margin: 10px 0;
		font-size: 18px;
		text-align: center;
		color: var(--grey);
	}
}
.paragraphs {
}
.paragraphItems {
	font-size: 14px;
	text-align: center;
}
