.card {
	padding: 30px 17px 20px 17px;
	background-color: var(--blue);
}
.title {
	font-family: MontserratSB;
	font-size: 30px;
	color: white;
	text-align: start;
	margin: 0 0 5px 0;
}
.description {
	color: white;
}
