@media screen and (min-width: 901px) {
	.about {
		& > .paragraphs {
			.title {
				font-size: 30px;
			}
			.item {
				font-size: 18px;
			}
		}
		.services {
			margin: 25px 0 0 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			.paragraphs {
				.title {
					font-size: 18px;
				}
				.item {
					font-size: 14px;
				}
			}
		}
	}
}
